*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.tmp/
/caches/
*/daemon/
/gradle/
/wrapper/
/daemon/
/native/
/kotlin-profile/
opencv-sdk
.idea/deploymentTargetSelector.xml
.idea/androidTestResultsUserPreferences.xml
/AndroidKorrektur/.tmp/
/AndroidKorrektur/caches/
/AndroidKorrektur/native/
/AndroidKorrektur/wrapper/
/AndroidKorrektur/jdks/
/AndroidKorrektur/kotlin-profile/
/AndroidKorrektur/android/FakeDependency.jar
/.kotlin/sessions/
/.idea/markdown.xml
/.idea/migrations.xml

# Python virtual environments & caches
.venv/
venv/
__pycache__/
*.pyc
.pytest_cache/
.vscode/
